{% extends "base.html.twig" %}

{% block body %}
    {% form_theme formulaire 'bootstrap_5_layout.html.twig' %}
    <div>
        {{ form_start(formulaire) }}
        {{ form_row(formulaire.name) }}
        {{ form_row(formulaire.price) }}
        <button class="btn btn-success" type="submit">Créer</button>
        <a class="btn btn-secondary" href="{{ path("app_fruit") }}">retour fruits</a>
        {{ form_end(formulaire) }}

    </div>

{% endblock %}