{% extends 'base.html.twig' %}

{% block title %}Hello FruitController!{% endblock %}

{% block body %}
    {% for fruit in fruits %}

        <div>
            <h2>Name : {{ fruit.name }}</h2>
            <h2>Price : {{ fruit.price }} €</h2>
            <a class="btn btn-primary" href="{{ path("leFruit",{id:fruit.id}) }}">Voir</a>
        </div>

    {% endfor %}


    <a class="btn btn-primary" href="{{ path("app_home") }}">home</a>
    <a class="btn btn-success" href="{{ path("create_fruit") }}">create fruit</a>
{% endblock %}